.container.mb-4
  = form_with(model: @comment, class: "form-horizontal"
    #errors
      .form-group.my-3
        = f.label :commenter, class: "form-label my-2"
        = f.text_field :commenter, class: "form-control", id: "exampleFormControlInput1"
      .form-group.my-3
        = f.label :コメント欄, class: "form-label my-2"
        = f.text_area :body, class: "form-control", id: "exampleFormControlTextarea1", placeholder: "コメントをどうぞ"
      .action.mb-4
        = f.submit '送信', class: "btn btn-primary"
