= form_with(model: @article, class: "form-horizontal") do |f|
  #errors
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :content
    = f.text_area :content, class: "form-control"
  .actions.mt-3
    = f.submit 'Save'
