%body
  - @articles.each do |article|
    .container.text-center
      .row.row-cols-1.row-cols-md-2.g-4.m-1
        .col
          .card
            .card-body
              .small.text-muted 日付
              %h5.card-title
                = article.title
              %p.card-text
                = article.content
              .d-flex.justify-content-around
                = button_to "Read More", article, :method => :get, class: "btn btn-primary mx-3" 
                = button_to "編集", edit_article_path(article), :method => :get, class: "btn btn-success mx-3"
                = button_to "削除", article, :method => :delete, :data => { :confirm => '本当に削除しますか?' }, class: "btn btn-danger mx-3"
