.container.w-75
  -# 記事詳細画面
  %h1.fw-bolder
    = @article.title
  .container
    .small.text-muted
      = "created_at: #{@article.created_at.strftime("%Y/ %m/ %d")} | updated_at: #{@article.created_at.strftime("%Y/ %m/ %d")}"
    -# カテゴリーのボタンを置きたい
    .container.d-flex.justify-content-start
      - @categorizations.each do |categorization|
        = button_to "#{categorization.category.name}", categorization.category, :method => :get, class: "btn btn-outline-primary btn-sm m-3 text-decoration-none"
  %hr
  -# アイキャッチ画像も
  .my-5.fs-5.lh-base.py-2
    = @article.content
  .mb-5
    .card.bg-light
      .card-body
        - @comments.each do |comment|
          = comment.commenter
          = comment.body
        = form_with(model: [@article, @comment], class: "form-horizontal") do |f|
          .form-group.my-4
            = f.label :commenter, class: "form-label mt-3"
            = f.text_field :commenter, class: "form-control"
          .form-group.my-4
            = f.label :body, class: "form-label mt-3"
            = f.text_area :body, class: "form-control"
            = f.hidden_field :article_id, value: @article.id
          .actions.mb-4
            = f.submit 'Save', class: "my-4 btn btn-primary"
