.container.w-75
  -# 記事詳細画面
  %h1.font-monospace
    = @article.title
  .container
    .small.text-muted
      = "created_at: #{@article.created_at.strftime("%Y/ %m/ %d")} | updated_at: #{@article.created_at.strftime("%Y/ %m/ %d")}"
    -# カテゴリーのボタンを置きたい
    .container.d-flex.justify-content-start
      - @categorizations.each do |categorization|
        = button_to "#{categorization.category.name}", categorization.category, :method => :get, class: "btn btn-outline-primary btn-sm m-3 text-decoration-none"
  %hr
  -# アイキャッチ画像も
  .my-5.fs-5.lh-base.py-2
    = @article.body
  .containew.text-center
    = button_to "記事一覧", root_path, :method => :get, class: "btn btn-info text-light my-3"
  .mb-5
    .card.bg-light
      .card-header コメント欄
      .card-body
        - @comments.each do |comment|
          .container
            .fw-bolder
              = comment.commenter
            = comment.body
            - unless comment == Comment.last
              %hr
        %h5.mt-5 コメント投稿
        = form_with(model: [@article, @comment], class: "form-horizontal") do |f|
          .form-group.my-1
            = f.label :お名前, class: "form-label mt-3"
            = f.text_field :commenter, class: "form-control"
          .form-group.my-1
            = f.label :コメント内容, class: "form-label mt-3"
            = f.text_area :body, class: "form-control"
            = f.hidden_field :article_id, value: @article.id
          .actions.mb-3.text-center
            = f.submit '投稿', class: "my-4 btn btn-primary"
