.container.w-75
  -# 記事詳細画面
  %h1.fw-bolder
    = @article.title
  .container
    .small.text-muted
      = "created_at: #{@article.created_at.strftime("%Y/ %m/ %d")} | updated_at: #{@article.created_at.strftime("%Y/ %m/ %d")}"
    -# カテゴリーのボタンを置きたい
    .container.d-flex.justify-content-start
      - @categorizations.each do |categorization|
        = button_to "#{categorization.category.name}", categorization.category, :method => :get, class: "btn btn-outline-primary btn-sm m-3 text-decoration-none"
  %hr
  -# アイキャッチ画像も
  .my-5.fs-5.lh-base.py-2
    = @article.content
  .mb-5
    .card.bg-light
      .card-body
