!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DeviseDemo
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-fluid.w-75
        = link_to "devise demo", root_path, class: "navbar-brand"
        .collapse.navbar-collapse.justify-content-end#navbarNav
          %ul.navbar-nav
            %li.nav-item
              = link_to "新規投稿", new_article_path, class: "nav-link active"
            - if admin_signed_in?
              %li.nav-item
                = link_to "ログアウト", destroy_admin_session_path, class: "nav-link active", method: :delete
    .container
      - if flash.notice
        .alert.alert-success.text-center
          = flash.notice
    %header.py-4.bg-light
      .container
        .text-center.my-5
          %h1.fw-bolder Welcome Devise Demo
          %p.lead.mb-0 sample text
    .contaier.w-75.mx-auto.mt-3.d-flex
      .container.w-75
        -# メイン領域
        = yield
      .container.w-25
        -# サイドバー
        .categories.m-3
          -# カテゴリー欄
          .card
            .card-header Categories
            %ul.list-group.list-group-flush
              - @categories = Category.all
              - @categories.each do |category|
                %li.list-group-item
                  = link_to "#{category.name}", category
          .container.mx-auto
            = button_to "カテゴリーを管理", categories_path, :method => :get, class: "btn btn-primary my-3"
        .archives.m-3
          -# 月別アーカイブ
          .card
            .card-header Archives
            %ul.list-group.list-group-flush
              - @archives.each do |yyyymm, count|
                %li.list-group-item
                  = link_to show_archive(yyyymm, count), root_path
